<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="my-4">
      <span class="p-float-label"> 
        <input 
          pPassword 
          type="password" 
          formControlName="old_password" 
          [feedback]="false" 
          class="form-control" 
          [ngClass]="{ 'ng-invalid': submitted && f.get('old_password')?.errors }" 
          />
        <label for="old_password">Текущий пароль</label>
      </span> 
    </div>

    <div class="mb-4">
      <span class="p-float-label"> 
        <input 
          pPassword 
          type="password" 
          formControlName="password" 
          [feedback]="false" 
          class="form-control" 
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && (f.get('password')?.errors || f.hasError('requireConfirmPassword')) }" 
          />
        <label for="password">Новый пароль</label>
      </span> 
      <small class="p-error block" *ngIf="submitted && f.get('password')?.invalid ">
        Нельзя использовать пустой пароль
      </small>
    </div>

    <div class="mb-4">
      <span class="p-float-label">
        <input 
          pPassword 
          type="password" 
          formControlName="confirmPassword" 
          [feedback]="false" 
          class="form-control" 
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && (f.get('old_password')?.errors || f.hasError('requireConfirmPassword')) }" 
          />
        <label for="confirmPassword">Новый пароль еще раз</label>
      </span> 
      <small class="p-error block" *ngIf="submitted && f.hasError('requireConfirmPassword')">
        Пароли не совпадают
      </small>
    </div>

    <p-messages />

    <div class="mb-3">
        <button pButton type="submit" [loading]="loading" class="w-100">Подтвердить</button>
    </div>

</form>